astroid==2.7.2
cffi==1.14.6
click==8.0.1
colorama==0.4.4
Flask==2.0.1
gevent==21.8.0
greenlet==1.1.1
importlib-metadata==4.6.4
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.2.0
pycparser==2.20
pylint==2.10.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0